<?xml version='1.0' encoding='utf-8'?>
<widget id="com.farmsconnect.app" version="1.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FarmsConnect</name>
    <description>FarmsConnect, une application pour connecter les acteurs dans le secteur de l'elevage.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="https://farmsconnect-b084ddb02391.herokuapp.com" />
    
    <access origin="https://farmsconnect-b084ddb02391.herokuapp.com" />
    <allow-navigation href="https://farmsconnect-b084ddb02391.herokuapp.com" />
    <allow-intent href="geo:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

<preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
<preference name="AndroidWindowSplashScreenDuration" value="5000" />
<preference name="AndroidWindowSplashScreenBackgroundColor" value="#d0e2f7" />
<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="3000" />
<preference name="SplashScreenFadeOutDuration" value="1500" />

    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />

    <feature name="Geolocation">
        <param name="android-package" value="android.location.Location"/>
    </feature>
    <preference name="GeolocationEnabled" value="true" />
    </platform>
</widget>
